<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/storage']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">STORAGE</a>
  <a [routerLink]="['/upload']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">UPLOAD</a>
</nav>
